<section class="main__about about" id="about">
    <div class="container">
        <h2 class="about__title heading-h2">
            About Us
        </h2>
        <p class="about__descr text-p-subtitle">
            Our Teammate
        </p>
        <div class="about__wrapper">
            <img src="./assets/img/teammate-agency.png" alt="Teammate agency foto" loading="lazy" width="565" height="402">
            <div class="about__info">
                <p class="about__text text-p-large">
                    We move with make a Creative Strategy for help your business goal, we help to improve your income by a services we have. make your content look interesting and make people look for your business
                </p>
                <p class="about__text text-p-large">
                    We move with make a Creative Strategy for help your business goal, we help to improve your income by a services we have. make your content look interesting and make people look for your business
                </p>
                <div class="about__buttons">
                    <button class="button button--first"> About Us </button>
                    <a class="button button--two button-video" href="https://www.youtube.com/watch?v=LIYoYahunYk" target="_blank" data-fslightbox> 
                        <svg width="24.000000" height="24.000000" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <desc>
                                    Created with Pixso.
                            </desc>
                            <defs>
                                <clipPath id="clip1_255">
                                    <rect id="play-circle" rx="-0.500000" width="23.000000" height="23.000000" transform="translate(0.500000 0.500000)" fill="white" fill-opacity="0"/>
                                </clipPath>
                            </defs>
                            <rect id="play-circle" rx="-0.500000" width="23.000000" height="23.000000" transform="translate(0.500000 0.500000)" fill="#FFFFFF" fill-opacity="0"/>
                            <g clip-path="url(#clip1_255)">
                                <path id="Vector" d="M12 22C6.47 22 2 17.52 2 12C2 6.47 6.47 2 12 2C17.52 2 22 6.47 22 12C22 17.52 17.52 22 12 22Z" stroke="#377DFF" stroke-opacity="1.000000" stroke-width="1.500000" stroke-linejoin="round"/>
                                <path id="Vector" d="M16 12L10 16L10 8L16 12Z" stroke="#377DFF" stroke-opacity="1.000000" stroke-width="1.500000" stroke-linejoin="round"/>
                            </g>
                        </svg>                        
                        Our Story
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>