<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <div class="footer__logo">
                <img src="./assets/icons/agency-logo.svg" alt="Agency logo">
                <div class="footer__logo-texts">
                    Agency <br>
                    <span> Creative </span>
                </div>
            </div>
            <ul class="footer__list">
                <li class="footer__item">
                    <h3 class="footer__item-title text-p-medium"> Terms & policies </h3>
                    <ul class="footer__terms footer__item-list">
                        <li class="footer__terms-item text-p-default">
                            <a href="#">Terms of Service</a>
                        </li>
                        <li class="footer__terms-item text-p-default">
                            <a href="#">Privacy Policy</a>
                        </li>
                    </ul>
                </li>
                <li class="footer__item">
                    <h3 class="footer__item-title text-p-medium"> Company </h3>
                    <ul class="footer__company footer__item-list">
                        <li class="footer__company-item text-p-default">
                            <a href="#hero">Home</a>
                        </li>
                        <li class="footer__company-item text-p-default">
                            <a href="#about">About Us</a>
                        </li>
                        <li class="footer__company-item text-p-default">
                            <a href="#">Contact Us</a>
                        </li>
                    </ul>
                </li>
                <li class="footer__item">
                    <h3 class="footer__item-title text-p-medium"> Contact </h3>
                    <ul class="footer__contact footer__item-list">
                        <li class="footer__contact-item text-p-default">
                            <a href="tel:+62893912392190" class="footer__contact-item-link">(+62) 893912392190</a>
                        </li>
                        <li class="footer__contact-item text-p-default">
                            <a href="mailto:agecnycr@gmail.com" class="footer__contact-item-link">agecnycr@gmail.com</a>
                        </li>
                    </ul>
                </li>
                <li class="footer__item">
                    <h3 class="footer__item-title text-p-medium"> Location </h3>
                    <ul class="footer__location footer__item-list">
                        <li class="footer__location-item text-p-default">
                            PT Osiris Real Estate Internasional
                        </li>
                        <li class="footer__location-item text-p-default">
                            Jl. KH. Wahid Hasyim Kel No.10D
                        </li>
                        <li class="footer__location-item text-p-default">
                            Jakarta, Indonesia
                        </li>
                        <li class="footer__location-item">
                            <a href="mailto:team@OsirisRealEstate.com text-p-default">team@OsirisRealEstate.com</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="footer__bottom">
            <ul class="footer__socials">
                <li class="footer__socials-item">
                    <a href="#">
                        <img src="./assets/icons/socials/facebook.svg" alt="facebook icon" width="21.6" height="21.6">
                    </a>
                </li>
                <li class="footer__socials-item">
                    <a href="#">
                        <img src="./assets/icons/socials/instagram.svg" alt="instagram icon" width="21.6" height="21.6">
                    </a>
                </li>
                <li class="footer__socials-item">
                    <a href="#">
                        <img src="./assets/icons/socials/linkedin.svg" alt="linkedin icon" width="21.6" height="21.6">
                    </a>
                </li>
                <li class="footer__socials-item">
                    <a href="#">
                        <img src="./assets/icons/socials/mail.svg" alt="mail icon" width="21.6" height="21.6">
                    </a>
                </li>
                <li class="footer__socials-item">
                    <a href="#">
                        <img src="./assets/icons/socials/twitter.svg" alt="twitter icon" width="21.6" height="21.6">
                    </a>
                </li>
            </ul>
            <div class="footer__copyright text-p-medium">
                Copyright @ 2022 Agency Creative. All Right Reserved
            </div>
        </div>
    </div>
</footer>