<div class="overlay"></div>
<header class="header">
    <div class="container">
        <div class="header__wrapper">
            <div class="header__logo">
                <img src="./assets/icons/agency-logo.svg" alt="Agency Logo">
                <div class="header__head">
                    Agency <br>
                    <span> Creative </span>
                </div>
            </div>
            <nav class="header__nav">
                <ul class="header__list header__list">
                    <li class="header__item">
                        <a href="#hero" class="header__item-link text-p-medium header__item-link--active">Home</a>
                    </li>
                    <li class="header__item">
                        <a href="#about" class="header__item-link text-p-medium">About</a>
                    </li>
                    <li class="header__item">
                        <a href="#services" class="header__item-link text-p-medium">Services</a>
                    </li>
                    <li class="header__item">
                        <a href="#Projects" class="header__item-link text-p-medium">Projects</a>
                    </li>
                </ul>
            </nav>
            <div class="header__right header__right">
                <label class="header__switcher">
                    <input type="checkbox" class="header__switcher-checkbox" data-theme-switcher>
                    <p class="header__switcher-text"> Dark </p>
                </label>
                <button class="header__button button--two button"> Contact Us </button>
            </div>
            <button class="header-burger">
                <span class="header-burger__line burger__line"></span>
            </button>
        </div>
    </div>
</header>