<div class="modal">
  <div class="modal__window">
    <button class="modal__window-cancel heading-h2">
        X
    </button>
    <h2 class="modal__window-title">Let’s level up your brand</h2>
    <address class="modal__window-call text-p-medium">
      You can reach us anytime
      <a href="mailto:hellosansbrothers@gmail.com">
        hellosansbrothers@gmail.com
      </a>
    </address>
    <form class="modal__window-form form">
      <div class="form__top">
        <label class="form__label">
          <span class="form__label-text"> First name </span>
          <input
            type="text"
            class="form__input form__input--small"
            placeholder="First name" required
          />
        </label>
        <label class="form__label">
          <span class="form__label-text"> Last name </span>
          <input required
            type="text"
            class="form__input form__input--small"
            placeholder="Last name"
          />
        </label>
      </div>
      <div class="form__body">
        <label class="form__label">
          <span class="form__label-text"> Email </span>
          <input required
            type="email"
            class="form__input"
            placeholder="you@company.com"
          />
        </label>
        <label class="form__label">
          <span class="form__label-text"> Phone number </span>
          <input type="tel" class="form__input" id="phone" name="phone" required/>
        </label>
        <label class="form__label">
          <span class="form__label-text"> Message </span>
          <textarea required
            class="form__input form__textarea"
            placeholder="Leave us a message..."
          ></textarea>
        </label>
        <button class="form__button button button--first">Get Started</button>
      </div>
    </form>
  </div>
</div>
