<section class="main__portfolio portfolio" id="Projects">
    <div class="container">
        <div class="portfolio__wrapper">
            <h2 class="portfolio__title heading-h2">
                Our Portfolio
            </h2>
            <p class="portfolio__subtitle text-p-subtitle">
                What do we do
            </p>
            <p class="portfolio__descr text-p-large">
                all projects that we have already done , proven can help to use more <br> comfortable, then can used by client from our business
            </p>
            <ul class="portfolio__list">
                <li class="portfolio__item">
                    <img src="./assets/img/design-byte.png" alt="Design Byte" loading="lazy" width="350" height="350">
                    <p class="portfolio__item-text"> Design Byte App </p>
                </li>
                <li class="portfolio__item portfolio__item--two">
                    <img src="./assets/img/cloud-app.png" alt="Design Byte" loading="lazy" width="400" height="400">
                    <p class="portfolio__item-text portfolio__item-text--two"> Cloud App </p>
                </li>
                <li class="portfolio__item">
                    <img src="./assets/img/design-firnutere.png" alt="Design Byte" loading="lazy" width="350" height="350">
                    <p class="portfolio__item-text"> Design Furniture App </p>
                </li>
            </ul>
            <a href="#" class="portfolio__button button button--two"> See All Portfolio </a>
        </div>
    </div>
</section>